@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', sans-serif;
}

.nav__list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    background-color: #01B40B;
    padding: 30px 0;
    font-size: 40px;
    cursor: pointer;
}

.nav__list li a {
    color: #fff;
    text-decoration: none;
}

.tabla {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 35px;
}

.listar {
    font-size: 25px;
}

.element {
    border: 1px solid;
    padding: 15px;
    background-color: #01B40B;
    color: #fff;
}